OPENAI_API_KEY=YOUR_OPENAI_API_KEY
GCP_PROJECT_ID=YOUR_GCP_PROJECT_ID
BQ_DATASET_ID=YOUR_BQ_DATASET_ID
GCS_BUCKET_PATH=YOUR_GCS_BUCKET_PATH
GCP_KEY_FILE=gcp_credentials.json
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
